/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/
/* Glass8 ( http://www.glass8.eu/ ) required for 'Windows 7'-like window transparency */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebar-button {
  margin-bottom: 10px !important;
  opacity: 0.01 !important;
}
.titlebar-button:hover {
  opacity: 0.25 !important;
  background: #FF6666 !important;
  margin-bottom: 10px !important;
  margin-right: 2px !important;
  margin-left: -2px !important;
}
.titlebar-button:not(#titlebar-close):hover {
  opacity: 0.4 !important;
  background: #BFFFF0 !important;
  margin-left: -2px !important;
}
.titlebar-button:first-child:hover {
  padding-left: 10px !important;
}
#messengerWindow {
  background-color: transparent !important;
  /* -moz-appearance: -moz-win-glass !important; */
  background-image: none !important;
  background: none !important;
  --chrome-background-color: transparent !important;
}
#navigator-toolbox {
  background-color: transparent !important;
  color: #FFFFFF !important;
}
#TabsToolbar {
  background-color: transparent !important;
}
.tab-background {
  background-color: #404040 !important;
}
#quick-filter-bar {
  background-color: #454545 !important;
}
#status-bar {
  background-color: #454545 !important;
}
#header-view-toolbox > toolbar {
-moz-appearance: none !important;
color: #000000 !important;
background: transparent !important;
fill: #333333 !important;
}
#folderTree treecol, 
#folderTree {
  background-color: #656565 !important;
  color: #FEFEFE !important;
}
#msgIdentity {
  background-color: #333 !important;
}
#msgIdentity:hover,
#msgIdentity[focused="true"] {
  background-color: #666 !important;
}
.aw-menulist {
	border: 0 !important;
}
 #textcol-addressingWidget {
background-color: #333 !important;
}
.textbox-addressingWidget {
background-color: #333 !important;
}
.dummy-row-cell:not(:first-child) {
background-color: #393939 !important;
}
.textbox-addressingWidget:hover,
.textbox-addressingWidget[focused="true"] {
background-color: #666 !important;
}
#msgSubject {
  margin-top: 3px !important;
  background-color: #333 !important;
}
#msgSubject:hover,
#msgSubject[focused="true"] {
  background-color: #666 !important;
}
#MsgHeadersToolbar {
  background-color: #444 !important;
}
#headers-box {
  border-top: 1px solid black !important;
  background-color: #444 !important;
}
